# Directories
build/
OUT/

# Object files
*.o

# Executables
*.exe
*.out
c_spice_sim
project

# IDE / Editor
.vscode/
.idea/

# Python cache
__pycache__/
*.py[cod]

# Local validation logs
*_run.log
*_compare.log

# External IBM benchmark material
Part3_Netlists/ibmpg*.spice
Part6_Netlists/ibmpg*t.spice
IBM_SOLS/
